:root {
  --Indigo: #2C3E50;
  --latte: #FAF3E0;
  --tangerine: #E67E22;
  --light-orange: #F5D6B4;
  --earth-yellow: #D4A76A
}

* {
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
}

body {
   line-height: 1.5;
  -webkit-font-smoothing: antialiased;
   background-color: var(--latte);
   color: var(--Indigo);
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}